#Ignored files
*.class
*.settings
target/*
bin/*
*.log
.classpath
web-app/WEB-INF/classes/
cobertura.ser
logs/**
grails
.svn
*.svn
.svn/**
.svn/*
.project
/.idea/ant.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/WebgeekApp.ipr
/WebgeekApp.iws
/WebgeekApp-grailsPlugins.iml
/WebgeekApp.iml
/.idea/groovyc.xml
