body {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 10px;

}

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

}

.bgbackground {
    margin-left: auto;
    margin-right: auto;
    background: url('../images/sampleJpg.jpg');
    background-repeat: no-repeat;
    height: 500px;
}

/* TABLE */
table {
    text-align:center;
    vertical-align:middle;
    width: 400px;
}

#propertyTable {
    border: 1px solid #dedede;
}

.bedSpaceDetails {
     border: 1px solid #333333;
}

.bedSpaceDetails tr {
      border-bottom: 1px solid #888888;
 }

.bedSpaceDetails tr {
    border-bottom: 1px solid #888888;
}

.tKey {
    font-weight: bold;
}

.tValue {

}

.money {
    font-size: 15px;
    color: #df0000;
}

#propertyTable td {
    width: 160px;
}

#propertyTable tr:hover {
    background-color: cornsilk;
}

.main {
    padding-right: 20px;
    margin-right: 0;
    padding-left: 20px;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.0);
}

/* column container */
.colmask {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
}

iframe { /* recaptcha plugin hack */
    display: none;
}

/*Not Used*/
.accordion-heading {
    background: whiteSmoke;
}

.accordion-inner {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.4);
}
/* */

.footer {
    background: -webkit-linear-gradient(top, #ddd, #fff);
    background: linear-gradient(top, #ddd, #fff);
    background: -moz-linear-gradient(top, #ddd, #fff);
    line-height:80px;
    vertical-align: middle;
    clear:both;
    text-align: center;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

img.avatar {
    max-width: 100px;
    max-height: 100px;
    padding:1px;
    box-shadow: 6px 6px 5px #888;
    -moz-box-shadow: 6px 6px 5px #888;
    -webkit-box-shadow: 6px 6px 5px #888;
    background-color: #000;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

img.smallAvatar {
    max-width: 160px;
    max-height: 160px;
    padding:1px;
    border:1px solid #021a40;
    background-color: #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

img.bigAvatar {
    max-width: 460px;
    max-height: 460px;
    padding:1px;
    border:1px solid #021a40;
    background-color: #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.qq-upload-button {
    width: 100px;
}

.qq-upload-file {
    display: none;
}

.qq-upload-size {
    display: none !important;
}

ul.qq-upload-list {
    list-style-type: none;
}

.brand {
    padding: 5px !important;
}

#cometMessages .well {
    border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    background: rgb(185, 185, 185) !important;
    background: rgba(185, 185, 185, 0.2) !important;
}

.well {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: rgb(245, 245, 245);
    background: rgba(245, 245, 245, 0.6);
}

.well-light {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #e3e3e3;
    margin-bottom: 1px;
}

.whitebg {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}

.newpost {
    background: #d6e9c6;
}

.thumbnailFrameSize {
    height: 135px;
}

.avatarSize {
    height: 102px;
    width: 102px;
}

* {text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);}

h1,h2,h3,h4,h5 {text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);}

.text-counter {
    background-color: transparent;
    color: #999;
    display: inline-block;
    width: 35px;
    border: 0;
    padding: 0 3px;
    position: relative;
    vertical-align: top;
    top: 7px;
    text-align: right;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
}
.s2ui_hidden_button {
    display: none;
}

.s2ui_error {
    color: #df0000;
}

.spaceTop1 {
    margin-top: 20px;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    /*position: absolute;*/
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/*Predefined height LOL*/

.spanheight1 {
    height: 400px;
}